$white: #ffffff;
$black: #000000;
$drkgrey: #363636;
$medgrey: #363636;
$litgrey: #A8A8A8;
$hotpink: #e8175d;
$mutpink: #cc527a;

$basefont: 16px;

* {
    margin: 0 0;
    font-size: $basefont;
};
.bg {
    grid-column-start: 1;
    grid-column-end: 5;
    z-index: -1;
}
.col-1 {
    grid-column-start: 1;
    grid-column-end: 3;

    background-color: #363636;
}

.col-2 {
    grid-column-start: 3;
    grid-column-end: 5;

    background-color: #000000;
}

.wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.wrapper > * {
    margin-bottom: 10px;
}

.header, .footer {
    grid-column: 1 / -1;
    clear: both;
}

@supports (display: grid) {
    .wrapper > * {
        width: auto;
        margin: 0;
    }
}

.link-dark {
    color: $white;
   padding-top: 300px;
    
};

#fancy-hero {
    height: 100vw;
    // background: linear-gradient(80deg, $medgrey 10%, $hotpink 70%, $mutpink 100%);
    background: #000000;
    -webkit-clip-path: polygon(0 0, 80% 0, 20% 100%, 0% 100%);
    clip-path: polygon(0 0, 80% 0, 20% 100%, 0% 100%);


};
