<div class='bg' id="fancy-hero"> 
</div>

<div class='col-1' id='fancy-hero-left'>
    <a class='link-dark' href='/products'>Products</a>
</div>

<div class='col-2' id='fancy-hero-right'>
  <a class='link-style' href='/articles'>Articles</a>
</div></a
    


